@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

main {
  flex: 1 1 0%;
}

body{
  background-color:black;
  color: white;
}


/* for markdown */
/* having an error when using css nesting */
.markdown h1 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  margin-bottom: 1.25rem;
}

.markdown h2 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.markdown h3 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.markdown p {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.markdown ul li {
  margin-bottom: 0.625rem;
}

.markdown pre {
  background-color: #161b22;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  padding: 1.5rem;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  color: #333;
  overflow: auto;

  
}

.markdown pre code {
  color: white;
}

.markdown hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1.5rem 0;
}








